venv/

__pycache__/
*.py[cod]
*.pyo
*.pyd

*.log
*.tmp

*.env
.env
*.DS_Store
*.vscode/

Thumbs.db
.DS_Store

models/*.h5
models/*.ckpt
models/*.pth
models/__pycache__/

.ipynb_checkpoints/
.vscode/
.idea/
